{% extends 'base.html' %}
{% block content %}

<h1 class="heading">Welcome: {{ user.get_username }}</h1>
<div id="user_info">
    <h2>Profile</h2>
    <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
    <p>email: {{ user.email }}</p>

    <!-- profile info and current rating -->
</div>
<hr>
<div id="avail_del">
    <h2>Packages to Deliver</h2>
    <p>No Packages at this time</p>

    <!-- pull info for created shipments -->
</div>

<div id="local_map">
    <!-- create local map -->
</div>

<div id="newship">
<button id="landing-button"><a href="{% url 'package' %}">New Shipment</a></button>
</div>

{% endblock %}