{% extends 'base.html' %}
{% block content %}

<!-- profile header -->
<h1 class="heading" id="profile-un">Welcome {{ user.username }}</h1>
<div class="profile-page">
    <div class="profile-wrapper">
        <div class="circle-container top">
        </div>
        <div class="profile-info">
            <h2 id="profile-name">{{ user.first_name }}&nbsp;{{ user.last_name }}</h2>
            <h3 id="profile-email">{{ user.email }}</h3>
        </div>
    </div>
    <hr class="hr-body"/>

    <!-- my shipments block -->
    <h2 class="heading">MY SHIPMENTS</h2>
    <div id="avail_del">
        <h2>Packages for Deliver</h2>

        {% for p in packages %}
        {{ p.users.all }}
            <div class="my-shipments">
            <div class="section-1">
                <h5 class="sec-1 st">SHIPPING FROM</h5>
                <h4 class="sec-1 un">{{ p.origination }}</h4>
            </div>
            <div class="section-2">
                <div class="cities">
                    <div class="circle-container body1">
                        <!-- city first letter -->
                        A
                    </div>
                    <div class="city">
                        <!-- city -->
                        POINT A
                    </div>
                </div>
    
                <div class="dots">● &nbsp; ● &nbsp; ● &nbsp; ●</div>
                        <!-- distance -->
                        
                <div class="distance"> 
                    {% if p.destination_length > 0 %}
                    <h2>{{ p.destination_length }} mi</h2> 
                    {% else %}
                    <h2>N/A</h2>
                    {% endif %}
                </div>
    
    
                <div class="dots">● &nbsp; ● &nbsp; ● &nbsp; ●</div>
    
                <div class="cities">
                    <div class="circle-container body2">
                        <!-- city first letter -->
                        B
                    </div>
                    <div class="city">
                        <!-- city -->
                        POINT B
                    </div>
                </div>
            </div>
            <div class="section-4">
                <h5 class="sec-4 st">DELIVER TO</h5>
                <h4 class="sec-4 un">{{ p.destination }}</h4>
            </div>
            <div class="section-3">
                <a class="package-button edit" href="">DETAILS</a>
                <a class="package-button delete" href="">ACCEPT</a>
            </div>
        </div>
        {% endfor %}
        <!-- pull info for created shipments -->
    </div>


{% endblock %}