<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <title>Welcome to Mailman</title>
</head>
<body>
    {% block content %}
    <div id="landing-div">
        <img id="landing-logo" src="../../static/images/logoredfull.png"></img>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input id="landing-button" type="submit" class="btn" value="log-in">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
        <form method="GET" action="{% url 'show_signup' %}">
            <p>Not Registered? <input type="submit" value="sign-up"></p>
        </form>
    </div>
    {% endblock %}
</body>
</html>
