<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title> Welcome to Mailman</title>
</head>
<body>
    <div id="landingDiv">
        <img id="landingLogo" src="../static/images/logoredfull.png">
        <button id="landingButton"><a href="#">Login &nbsp; &rsaquo;</a></button>
        <p>Not Registered? <a href="">Sign Up</a></p>
    </div>
</body>
</html>