body {
    background-color: #8f3032;
}

#landingDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#landingLogo {
    width: 46vw;
}

button {
    border-radius: 5px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #8f3032;
    font-size: 1.5rem;
    border: 1px solid #8f3032;
    box-shadow: 0px 1px 4px #000000;
}

#headerLogo {
    position: relative;
    margin-left: 5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    width: 12rem;
}

.headerItem {
    font-size: 1.3rem;
    margin-right: 3rem;
    position: relative;
    margin-top: 1rem;
    float: right;
}

#logout {
    margin-right: 5rem;
}

#headerUnderline {
    border-radius: 6px;
    margin: auto;
    background-color: #8f3032;
    height: .4rem;
    width: 94%;
}