/* Main Components*/

main {
    font-family: Helvetica, Arial, sans-serif;
}

.page-container {
    margin: 0 auto;
    width: 800px;
}

.flex-column-container {
    display: flex;
    flex-direction: column;
    /* border: 2px solid purple; */
}

.lato-text {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.button {
    border: 2px solid #8f3032;
    border-radius: 10px;
    cursor: pointer;
}

input {
    height: 1rem;
    margin: .5rem;
}

.hr-body {
    border-top: 2px solid black;
}

.heading {
    text-align: center;
}

a:link,
a:visited {
    text-decoration: none;
    color: #8f3032;
}

/* BASE HEADER */

.nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    margin: 0px;
}

.right {
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    align-items: flex-end;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
}

ul {
    list-style-type: none;
}

.hr-header {
    border-top: 4px solid #8f3032;
}

/* LOGIN PAGE */

#landing-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#landing-logo {
    width: 46vw;
}

.flex-column-container.login {
    text-align: center;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.button.landing {
    color: #8f3032;
    font-size: 1.5rem;
    height: 3rem;
    padding: 0px 1.5rem;
    margin: 2rem;
}

#register-btn {
    /* font-family: 'Lato', Arial, Helvetica, sans-serif; */
    font-size: 16px;
    color: blue;
    border: none;
    text-decoration: underline;
    padding: .5rem;
    height: 100%;
    cursor: pointer;
}

/* SIGN-UP PAGE */

#login-form {
    display: flex;
    flex-direction: column;
}

/* HOME PAGE*/

.page-container.home {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex-column-container.home {
    justify-content: center;
    text-align: center;
}

#user-info {
    width: 500px;
    align-self: center;
}

#user-info > p {
    font-weight: 700;
}

.user-info-cont {
    font-weight: 500;
    font-size: 30px;
    margin-left: 1rem;
    font-family: 'Raleway';
}

#newship {
    text-align: center;
    width: 100%;
    margin-bottom: 4px;
    position: sticky;
    bottom: 0;

}

.button.home {
    color: #8f3032;
    font-size: 1.5rem;
    height: 3rem;
    margin: 4rem;
    padding: 0px 1.5rem;
}

/* ADD PACKAGE */

.flex-column-container.pkg-form {
    
}

#btn-pkg-container {
    text-align: center;
}

#opt-user {
    font-size: 18px;
}


/* PROFILE PAGE*/

.profile-wrapper {
    display: flex;
    justify-content: center;
    padding: 0px 5rem;
}

.circle-container {
    align-self: center;
    color: white;
    border: 1px solid black;
    border-radius: 50%;
}

.circle-container.top {
    background-color: #8f3032;
    margin: 1.5rem;
    font-size: 40px;
    font-weight: 900;
    padding: .8rem;
}

.circle-container.body1 {
    background-color: rgb(46, 110, 40);
    font-size: 30px;
    font-weight: 600;
    border: 2.2px solid black;
    width: 60%;
    height: 50%;
}

span {
    margin: .2rem;
}

.circle-container.body2 {
    background-color: #8f3032;
    font-size: 30px;
    font-weight: 600;
    border: 2.2px solid black;
    width: 60%;
    height: 50%;
}

.profile-info {
    color: #8f3032;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#profile-name {
    margin-bottom: 0px;
}

#profile-un {
    margin-top: 0px;
    font-weight: 100;
    display: flex;
    justify-content: center;
}

.shipments {
    display: flex;
}

.section-1 {
    flex-grow: 1;
    text-align: center;
    justify-content: start;
    width: 200px;
    margin-left: -8rem;
}

.section-2 {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: baseline;
}

.section-3 {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    align-content: center;
    width: 115px;
    margin-right: -14rem;
}

.section-4 {
    flex-grow: 1;
    text-align: center;
    margin-right: 2rem;
}

.sec-1.st {
    text-decoration: underline;
}

.sec-1.un {
    font-size: 18px;
    font-weight: 600;
}

.sec-4.st {
    text-decoration: underline;
}

.sec-4.un {
    font-size: 18px;
    font-weight: 600;
}

.cities {
    display: flex;
    flex-direction: column;
    margin: .5rem 0px;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    margin: 1rem -.5rem;
}

.city {
    margin-top: .5rem;
    font-size: 14px;
    font-weight: 600;
}


.dots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}

.distance {
    font-size: 12px;
    margin: .2rem;
    color: #8f3032;
    width: 4rem;
    text-align: center;
}

.button.small {
    align-self: center;
    padding: .4rem;
    margin: .5rem;
}


.no-result {
    text-align: center;
}

.shipment-input {
    display: inline;
}

/* #newship {
    display: table; */

    /* Details Page */

    #mapid {
        height: 180px;
    }

    .detail-header {
        text-align: right;
        padding: .5rem;
    }

    .details-detail {
        text-align: left;
        padding: .5rem;
    }

    #landing-button {
        display: table-cell;
        text-align: center;
        vertical-align: bottom;
    }

    #details-container {
        display: flex;
        justify-content: center;
    }

    .table.detail {
        /* border-collapse: separate; */
        border-spacing: 15px;
    }

    .detail-header {
        text-align: left;
        padding: .5rem;
    }

    .details-detail {
        text-align: left;
        padding: .5rem;
        width: 400px;
    }

    .button-section {
        display: flex;
        justify-content: center;
    }