
main {
    font-family: Helvetica, Arial, sans-serif;
}

#landing-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#landing-logo {
    width: 46vw;
}

#landing-button {
    border-radius: 5px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 2rem;
    color: #8f3032;
    font-size: 1.5rem;
    border: 1px solid #8f3032;
    box-shadow: 0px 0px 0px 0px #000000;
}

#landing-button a {
    color: inherit;
    text-decoration: none;
}

#login-form {
    display: flex;
    flex-direction: column;
}

input {
    height: 1rem;
    margin: .5rem;
}

.heading {
    text-align: center;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
 
    margin: 0px;
}

a:link, a:visited {
    text-decoration: none;
    color: #8f3032;
}

/* .left {
    border: 2px solid red;
} */

.right {
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    align-items: flex-end;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
}

ul {
    list-style-type: none;
}

.hr-header {
    border-top: 4px solid #8f3032;
}

.hr-body {
    border-top: 2px solid black;
}

.page-container {
    margin: 0 auto;
    width: 800px;
}

/* PROFILE PAGE*/

.profile-wrapper {
    display: flex;
    padding: 0px 5rem;
}

.circle-container {
    align-self: center;
    color: white;
    border: 1px solid black;
    border-radius: 50%;
}

.circle-container.top {
    background-color: #8f3032;
    margin: 1.5rem;
    font-size: 40px;
    font-weight: 900;
    padding: .8rem;
}

.circle-container.body1 {
    background-color: rgb(46, 110, 40);
    font-size: 30px;
    font-weight: 600;
    border: 2.2px solid black;
    width: 40%;
    padding: .2rem;
    /* margin-right: -2rem; */
}

.circle-container.body2 {
    background-color: #8f3032;
    font-size: 30px;
    font-weight: 600;
    border: 2.2px solid black;
    width: 40%;
    padding: .2rem;
    /* margin-left: -2rem; */
}
.profile-info {
    color: #8f3032;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#profile-name {
    margin-bottom: 0px;
}

#profile-un {
    margin-top: 0px;
    font-weight: 100;
}

.my-shipments {
    display: flex;
}

.section-1 {
    flex-grow: 1;
    text-align: center;
}
.section-2 {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: baseline;
}
.section-3 {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    align-content: center;
    width: 115px;
}

.sec-1.st {
    text-decoration: underline;
}

.sec-1.un {
    font-size: 18px;
    font-weight: 400;
}

.cities {
    display: flex;
    flex-direction: column;
    margin: .5rem 0px;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    margin: 1rem -.5rem;
}

.city {
    margin-top: .5rem;
    font-size: 14px;
    font-weight: 600;
}


.dots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}

.distance {
    font-size: 12px;
    margin: .2rem;
    color: #8f3032;
}

.package-button {
    border: 2px solid #8f3032;
    border-radius: 10px;
    padding: .2rem .8rem;
}

.package-button.edit {
    align-self: center;
}
.package-button.delete {
    align-self: center;
}

.no-result {
    text-align: center;
}

.shipment-input {
    display: inline;
}


/* Details Page */

#mapid {
    height: 180px;
}

.detail-header {
    text-align: right;
    padding: .5rem;
}

.details-detail {
    text-align: left;
    padding: .5rem;
}